<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ff6434">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='icon.ico')}}" type="image/x-icon">
    {% block tittle %}{% endblock %}
</head>

<body>
    <nav>
        <h3>Share Space</h3>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>